<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/css/style.css">
	<title>アイライブ</title>
</head>

<body>
	<h1>アイライブ</h1>
	<h1>エラー</h1>
</body>

</html>
