<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="/css/style.css">
	<title>【投稿一覧】アイライブ</title>
</head>

<body>
	<h1><%= title %><a href="https://twitter.com/t53942800">＠t53942800</a></h1>
	<div class="scroll" id="scroll">
    <% for (c of content){ %>
			<section>
    	<a href="<%= c.highest_video_url %>" target="_blank">
			<img src="<%= c.thumbnail %>" width="280" height="360" alt="">
      </a>
			</section>
    <% } %>
</div>
</body>
</html>

