body {
  margin: 0;
  display: block;
  background-color: #ffffff;
}

img{
  min-height: 100px;
  max-height: 360px;
}

.container{
  position: relative;
}


.text-box{
  text-align: center;
  padding: 1em 1em;
  margin: 0 auto;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}
.jin{
  padding: 1rem;
  font-weight: 500;
  text-align: left;
  font-size: 2rem;
  color: #fff !important;
  background-color: #2b2b2b;
  letter-spacing: 0;
  border-radius: 20px;
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  top: 0;
  left: 0;
}

#scroll {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;

}
#scroll img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #scroll {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #scroll {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #scroll {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #scroll {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
